<div class="container mt-5">
  <div class="row">
    <div class="col-8 offset-2">
      <h1 class="mb-4">Restaurants</h1>

      <ul class="list-unstyled">
        <% @restaurants.each do |restaurant| %>
          <li>
            <%= link_to restaurant.name, restaurant_path(restaurant), class: "btn btn-outline-primary mb-2" %>
          </li>
        <% end %>
      </ul>

      <%= link_to 'Add a new restaurant', new_restaurant_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
